<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <!--<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>-->

    <script>
        $(function() {
            $(".sliderQuestion" ).on( 'slidestop', function( event ) {
                var dataString = $(this).val();
                $.ajax({
                    url: url,
                    dataType: 'json',
                    data: dataString,
                    success: success
                });
                alert($(this).val());
            });
        });
    </script>
</head>
<body style="text-align: center">

<div data-role="page">

    <div data-role="header"  data-add-back-btn="true">
        <a href="/home" class="ui-btn-left" data-rel="back">Back</a>
                <a href="/home" class="ui-btn-right"><%= image_tag("icon_house.png", :alt => "Home") %></a>
                <span class="ui-title" ><%= image_tag("logo_header.png", :alt => "school hound - header logo") %></span>
    </div><!-- /header -->


    <div data-role="content">
        <div data-role="navbar">
            <ul>
                <li><a href="/users/classrooms"  class="ui-btn-active" ui-state-persist>Questions</a></li>
                <li><a href="/users/tips?id=1">Tips</a></li>
                <li><a href="/users/notes">Notes</a></li>
            </ul>
        </div><!-- /navbar -->
        <h1><%= @area.areaName %></h1>
        <!--<%= @user.name %> <%= @questions.length %>-->
        <% @questions.each_with_index do |q, i| %>
            <p style="text-align: left; padding-top: 20px;"><%= q.question %></p>
            <!--q.questionTypeId-->
            <div id="container_slider" style="width: 320px">
                <input type="range" name="slider-fill" id="q<%= i %>" class="sliderQuestion" value="1" min="1" max="5" step="1" data-highlight="true" width="320px" />
                <div id="selectors" style="padding: 0px 20px 0px 90px;">
                    <div style="float:left"><strong>Bad</strong></div>
                    <div style="float:right"><strong>Great</strong></div>
                    <div style="clear: both"></div>
                </div>
            </div>
            <!--<input type="range" name="slider-fill" id="q<%= i %>" value="1" min="1" max="5" step="1" data-highlight="true" />-->
        <% end %>
        <!--<label for="slider-step">Input slider:</label>-->
        <!--<input type="range" name="slider-step" id="slider-step" value="3" min="1" max="5" step="1" />-->
        <!--<div id="container_slider" style="width: 320px">-->
            <!--<input type="range" name="slider-fill" id="slider-fill" value="1" min="1" max="5" step="1" data-highlight="true" width="320px" />-->
            <!--<div id="selectors" style="padding: 20px 20px 0px 90px;">-->
                <!--<div style="float:left"><strong>Bad</strong></div>-->
                <!--<div style="float:right"><strong>Great</strong></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<br /><br />-->

    </div><!-- /content -->
    <!--<div data-role="footer">&copy; Copyright 2013, GreatSchools, Inc.</div>-->
</div><!-- /page -->

</body>
</html>


