<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>

</head>
<body style="text-align: center">

<div data-role="page">

    <div data-role="header" >
        <a href="/home" class="ui-btn-right"><%= image_tag("icon_house.png", :alt => "Home") %></a>
        <span class="ui-title" ><%= image_tag("logo_header.png", :alt => "school hound - header logo") %></span>
    </div><!-- /header -->


    <div data-role="content">
        <h1>Welcome <%= @user.name %>!</h1>
        <%= button_to "Start a tour", 'users/schoolTourHome', :method => "post", :name => "sth"  %>
        <!--<%= button_to "Start a tour", 'users/schoolTourHome', :method => "get" %>-->
        <%= button_to "My schools", 'users/mySchools', :method => "get" %>
    </div><!-- /content -->
    <!--<div data-role="footer"style="margin-top:30px;padding:6px 0 6px 0;font-size:8pt;">&copy; Copyright 2013, GreatSchools, Inc.</div>-->
</div><!-- /page -->

</body>
</html>