<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>





</head>
<body style="text-align: center; background-color: #A93A6A">

<div data-role="page" style="background-color: #A93A6A">

    <div data-role="header" >
        <!--<a href="/home" class="ui-btn-right"><%= image_tag("icon_house.png", :alt => "Home") %></a>-->
        <span class="ui-title" ><%= image_tag("logo_header.png", :alt => "school hound - header logo") %></span>
    </div><!-- /header -->


    <div data-role="content" style=" background-color: #A93A6A">

        <div style="padding: 200px 0 50px 0;"> <%= image_tag("logo_splash.png", :alt => "SchoolHound", :width=> "179", :height=> "62") %></div>

        <%= form_tag("/home", :method => "post") do %>
            <!--<%= label_tag(:name, "NAME") %>-->
            <input type="text" placeholder="Enter Name" name="name">
            <!--<%= text_field_tag :name,  :placeholder =>"Enter Name" %>-->

            <%= submit_tag("GO, DOG, GO!") %>
        <% end %>
        <div style="padding: 150px 0 50px 0;"> </div>

    </div><!-- /content -->
    <!--<div data-role="footer">&copy; Copyright 2013, GreatSchools, Inc.</div>-->
</div><!-- /page -->

</body>
</html>