<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>





</head>
<body style="text-align: center">

<div data-role="page">

    <div data-role="header" style="padding:10px 0 6px 0;">
        <div style="text-align: center; width:100%; ">
            <div style="position: relative; width:300px;margin: 0px auto; ">

                <div style="float:left;"><%= image_tag("logo_header.png", :alt => "school hound - header logo") %></div>
                <div style="float:right;"><a href="home"><%= image_tag("icon_house.png", :alt => "Home") %></a></div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div><!-- /header -->


    <div data-role="content"><h4>START YOUR TOUR AT:</h4>
<h2 style="padding-bottom: 0px; margin-bottom: 0px;"><%= @school.schoolName %></h2>
        <div style="padding:20px 0 30px 0;"><a href="tourSchool"><%= image_tag("ratings_schoolLanding.png", :alt => "school content") %></a></div>
<%= button_to "START NOW", 'tourSchool', :method => "get" %>
        <%= button_to "Choose a nearby school", 'tourSchool', :method => "get" %>
    </div><!-- /content -->
    <!--<div data-role="footer">&copy; Copyright 2013, GreatSchools, Inc.</div>-->
</div><!-- /page -->

</body>
</html>