<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>My Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>





</head>
<body style="text-align: center">

<div data-role="page">

    <div data-role="header" >
        <a href="/home" class="ui-btn-right"><%= image_tag("icon_house.png", :alt => "Home") %></a>
        <span class="ui-title" ><%= image_tag("logo_header.png", :alt => "school hound - header logo") %></span>
    </div><!-- /header -->


    <div data-role="content">
        <!--<%= button_to "classrooms", 'classrooms', :method => "get" %>-->
        <div style="text-align: center; width:100%; padding:20px 0 20px 0;">
            <div style="position: relative; width:278px; height:268px;margin: 0px auto; ">
                <div style="position: absolute; top:54px; left:57px;">
                    <%= image_tag("map_dog.png", :alt => "SchoolHound", :title => "Woof Woof" ) %>
                </div>
                <div style="position: absolute; top:80px; left:0px;">
                    <a href="classrooms"><%= image_tag("classroom.png", :alt => "classroom", :title => "Classroom" ) %></a>
                </div>
                <div style="position: absolute; top:80px; left:206px;">
                    <a href="playAndGym"><%= image_tag("seesaw.png", :alt => "playground and gym", :title => "Playground and Gym" ) %></a>
                </div>
                <div style="position: absolute; top:0px; left:103px;">
                    <a href="cafeteria"><%= image_tag("milkCarton.png", :alt => "cafeteria", :title => "Cafeteria" ) %></a>
                </div>
                <div style="position: absolute; top:195px; left:49px;">
                    <a href="hallways"><%= image_tag("hydrant.png", :alt => "Hallways and Bathrooms", :title => "Hallways and Bathrooms" ) %></a>
                </div>
                <div style="position: absolute; top:195px; left:155px;">
                    <a href="offices"><%= image_tag("school.png", :alt => "offices", :title => "Offices" ) %></a>
                </div>
            </div>
        </div>
        <a href="help" data-role="button" data-inline="true">?</a>
        <a href="notes" data-role="button" data-inline="true">Notes</a>
        <a href="recommend" data-role="button" data-inline="true">Done</a>
    </div><!-- /content -->
    <!--<div data-role="footer">&copy; Copyright 2013, GreatSchools, Inc.</div>-->
</div><!-- /page -->

</body>
</html>